/* src/components/BoxArticles.css */

.articles-section {
  text-align: center;
  margin: 3rem 0;
  background-color: #504e4e;

}

.article-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.articles {
  display: flex;
  overflow: hidden;
  width: 100%;
  gap: 1rem;
  
}

.article {
  flex: 1;
  min-width: calc(100% / 4); /* For large screens */
  display: flex;
  flex-direction: column;
  align-items: center;
 
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  background-color: #1a1a1e;
}

.article-image {
  width: 100%;
  height: auto;
}

.article-info {
  padding: 1rem;
}

.carousel-button {
  background-color: #1a1a1e;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.carousel-button.left {
  position: absolute;
  left: 0;
}

.carousel-button.right {
  position: absolute;
  right: 0;
}

.carousel-button:hover {
  background-color: #333;
}

/* Media Queries */

/* Medium devices (tablets, 601px to 768px) */
@media (max-width: 768px) {
  .article {
    min-width: calc(100% / 3); /* For tablet screens */
  }

  .carousel-button {
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .article {
    min-width: 100%; /* Full width for each article on small screens */
  }

  .carousel-button {
    padding: 0.25rem;
    font-size: 1rem;
  }
}
