/* src/components/Samples.css */

.samples-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .samples-heading {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .samples-heading h6 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--box-hover-color);
  }
  
 
/* src/components/Samples.css */

.youtube-videos {
    display: flex; /* Set display to flex */
    justify-content: center;
    flex-wrap: nowrap; /* Ensure videos stay in a single line */
  }
  
  .youtube-video-item {
    margin: 0 0.5rem; /* Adjust the margin for space between videos */
    text-align: center;
  }
  
  .youtube-video-item iframe {
    max-width: calc(50% - 1rem); /* Set the maximum width to half the container width minus margin */
    border-radius: 8px;
  }
  
  