/* src/components/Samples.css */

.samples-container {
  --global-padding-horizontal: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px; /* Max-width for larger screens */
  box-sizing: border-box;
  padding-left: var(--global-padding-horizontal);
  padding-right: var(--global-padding-horizontal);
}

.samples-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.samples-heading h6 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--box-hover-color);
}

.youtube-videos {
  display: flex; /* Set display to flex */
  justify-content: center;
  flex-wrap: nowrap; /* Ensure videos stay in a single line */
}

.youtube-video-item {
  margin: 0 0.5rem; /* Default margin */
  text-align: center;
  flex: 1 1 calc(50% - 1rem); /* Adjusted flex basis */
}

.youtube-video-item iframe {
  max-width: 100%; /* Set the maximum width to 100% */
  border-radius: 8px;
}

/* Media Queries */

/* Large devices (desktops, 769px to 1909px) */
@media (max-width: 1909px) {
  .samples-container {
    padding-left: var(--global-padding-horizontal);
    padding-right: var(--global-padding-horizontal); /* Increased padding for larger screens */
  }
  .youtube-video-item {
    flex: 1 1 calc(40% - 1rem); /* Adjust flex basis */
    margin: 1rem; /* Adjust margin for spacing */
  }
  .samples-heading h6 {
    font-size: 1.4rem; /* Adjust heading size */
  }
}

/* Medium devices (tablets, 601px to 768px) */
@media (max-width: 768px) {
  .samples-container {
    padding: 1rem;
  }
  .youtube-video-item {
    flex: 1 1 calc(45% - 1rem); /* Adjust flex basis */
    margin: 0.5rem; /* Adjust margin for spacing */
  }
  .samples-heading h6 {
    font-size: 1.35rem; /* Adjust heading size */
  }
}

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .samples-container {
    padding: 0.5rem;
  }
  .youtube-videos {
    flex-direction: column; /* Stack videos vertically */
    align-items: center; /* Center the videos */
  }
  .youtube-video-item {
    margin: 0.5rem 0; /* Adjust the margin for space between videos */
  }
  .youtube-video-item iframe {
    max-width: 100%; /* Set the maximum width to 100% */
  }
  .samples-heading h6 {
    font-size: 1.25rem; /* Adjust heading size */
  }
}
