/* src/components/Services.css */

.services-container {
  text-align: center;
  margin: 3rem auto; /* Center the container */
  /* max-width: 1200px; */
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.service-boxes {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap; /* Allow wrapping of boxes */
}

.service-box {
  position: relative; /* Add relative positioning */
  flex: 1 1 calc(33.333% - 2rem); /* Flex basis to allow three boxes per row */
  padding: 7rem 2rem; /* Increase padding to make boxes taller */
  border-radius: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid white; /* Add white border */
  margin-bottom: 1rem; /* Increase space below each box */
  box-sizing: border-box;
  color: white;
}

.service-box img {
  position: absolute;
  top: 10px; /* Adjust the space from the top */
  left: 10px; /* Adjust the space from the left */
  width: 90px; /* Adjust the size of the image */
  height: 90px; /* Adjust the size of the image */
  border-radius: 50%; /* Make the image circular */
  border: 2px solid white; 
}

.service-box h4 {
  margin-bottom: 0.5rem;
}

/* Default colors */
.service-box.blue {
  background-color: #1a1a1e;
  color: rgb(251, 250, 250);
}

.service-box.violet {
  background-color: #1a1a1e;
  color: rgb(251, 250, 250);
}

.service-box.yellow {
  background-color: #1a1a1e;
  color: rgb(251, 250, 250);
}

/* Hover effects */
.service-box.blue:hover {
  background-color: #8ed1fc;
  border-color: white; /* Change border color on hover */
}

.service-box.violet:hover {
  background-color: #9b51e0;
  border-color: white;
}

.service-box.yellow:hover {
  background-color: #fcb900;
  border-color: white;
}

/* Media Queries */

/* Default (1201px and up) */
@media (max-width: 1909px) {
  .services-container {
    margin: 3rem auto;
  }
}

/* Large devices (desktops, 769px to 1200px) */
@media (max-width: 1200px) {
  .services-container {
    padding: 1.5rem;
    margin: 3rem auto;
  }
  .service-box {
    flex: 1 1 calc(33.333% - 2rem); /* Default flex basis for three boxes per row */
    padding: 7rem 2rem; /* Maintain standard padding */
  }
  .service-boxes {
    gap: 2rem; /* Maintain standard gap */
  }
}

/* Medium devices (tablets, 601px to 768px) */
@media (max-width: 768px) {
  .services-container {
    padding: 1rem;
    margin: 3rem auto;
  }
  .service-box {
    flex: 1 1 calc(50% - 1rem); /* Two boxes per row */
    margin-bottom: 1rem;
    padding: 6rem 2rem; /* Adjusted padding for medium screens */
  }
  .service-boxes {
    gap: 2.5rem; /* Increase the gap for medium screens */
  }
}

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .services-container {
    padding: 0.5rem;
    margin: 3rem auto;
  }
  .service-box {
    flex: 1 1 100%; /* Full width for each box */
    margin-bottom: 1rem;
    padding: 5rem 1.5rem; /* Adjusted padding for smaller screens */
  }
}
