/* src/components/Statistics.css */
.statistics-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  .statistics-item {
    text-align: center;
  }
  
  .number {
    font-size: 2rem;
    font-weight: bold;
    color: #007BFF;
  }
  
  .number span {
    display: inline-block;
  }
  