/* src/App.css */

/* Dark Theme */
:root {
  --background-color: #000000;
  --text-color: #fff;
  --box-background-color: #1e1e1e;
  --box-hover-color: #1f80e0;
  --navbar-text-color: #ffffff;
  --navbar-background-color: #000000;
  --footer-background-color: #1e1e1e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin-bottom: 5rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-item {
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-item:hover {
  color: var(--box-hover-color);
}



.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px; /* Adjust the spacing to the next section */
  
}

.box-container {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.box-article {
  width: 200px;
  height: 200px;
  background-color: var(--box-background-color);
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--text-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.box-article:hover {
  background-color: var(--box-hover-color);
  color: #fff;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.footer .social-media-icons {
  display: flex;
  gap: 1rem;
}

.footer .social-media-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.footer .social-media-icons img:hover {
  transform: scale(1.2);
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #1f80e0;
  background-color: transparent;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 1000;
}


